body{
    background-color: black;
    font-family: "Ubuntu Mono", monospace;
    text-align: center;
    margin: auto;
}

h1, h2, h3, h4, h5, h6{
    color: mediumaquamarine;
}

.target{
    display: inline;
    padding-bottom: 10px;
}

#bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 20vh;
}

#chain-container{
    padding-bottom: 20vh;
}

#input-container{
    font-size: 20px;
    background-color: black;
    z-index: 1;
}

#input-box{
    width: 30%;
    border-radius: 5px;
    /*left: 35%;*/
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#undo-button{
        background-color: black;
        border: 0;
        color: mediumaquamarine;
        font-size: 5vh;
        left: 5vh;
        position: fixed;
        top: 5vh;
}